
# Android intermediate build artifacts
apptentive-android-sdk/gen/*
apptentive-android-sdk/out/*
apptentive-testing/gen/*
apptentive-example/gen/*
apptentive-example-alternate/gen/*
out/*

# IntelliJ noise
*.ipr
*.iml
*.iws

# My local stuff
todo.txt
apptentive-android-sdk/bin
