# Mac OS
.DS_Store

# Gradle
.gradle

# Android
local.properties
gen/
out/
bin/
build/

# IntelliJ
*.iws
*.iml
.idea/tasks.xml
.idea/gradle.xml
.idea/modules.xml
.idea/encodings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries

# Eclipse
.settings
.metadata