# Android intermediate build artifacts
*/local.properties
*/lint.xml
*/bin/**
*/gen/**
*/tmp/**
*/proguard/**

# Eclipse stuff
.project
*/.project
*/.classpath
*/.settings/

#Gradle
.gradle/**
*/.gradle/**
*/build/**

# IntelliJ noise
*.ipr
*.iml
*.iws

# My local stuff
todo.txt

# Temporary files
*.tmp
*.bak
*.swp
*.launch

#Mac stuff
**/.DS_Store
.DS_Store

