<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2016, Apptentive, Inc. All Rights Reserved.
  ~ Please refer to the LICENSE file for the terms and conditions
  ~ under which redistribution and use of this file is permitted.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.apptentive.android.sdk">
    <!-- Required for Apptentive -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Optional for Apptentive -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />

    <application>
        <provider android:name=".debug.ApptentiveAttachmentFileProvider"
                  android:authorities="${applicationId}.ApptentiveAttachmentFileProvider"
                  android:enabled="true"
                  android:exported="false"
                  android:grantUriPermissions="true"/>
        <activity android:name="com.apptentive.android.sdk.ApptentiveViewActivity"
                  android:theme="@style/ApptentiveTheme.Base.Versioned"/>
        <receiver android:name=".debug.LogBroadcastReceiver"
                  android:enabled="true"
                  android:exported="false"/>

        <receiver android:name=".module.engagement.notification.ApptentiveNotificationInteractionBroadcastReceiver"
                  android:exported="false"/>
    </application>
</manifest>
